.telaInicial {
  text-align: center;
  padding: 20px;
}

.titulo {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.ft01 {
  width: 100%;
  height: 200%;
  object-fit: cover;
  object-position: bottom;
}

.descricao {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.descricao::first-letter {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
.descricao {
    font-size: 1rem;

  }
}