
/* .titulo{
  display: flex;
  justify-content: center;
}
.main{
  display: flex;

}

.ft01{
  height: 65%;
  width: 65%;
} */

.telaInicial *{
  border: 1px solid cadetblue;
}
.telaInicial {
  
  text-align: center;
  padding: 20px;
}

.titulo {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.imagem-container {
  margin-bottom: 20px;
}

.descricao {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.descricao::first-letter {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 2rem;
  }

  .descricao {
    font-size: 1rem;
  }
}