.telaInicial *{
  border: 1px solid red;
}


.telaInicial {
  text-align: center;
  padding: 20px;

}
.header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
        }

        .menu ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
        }

        .menu ul li {
          margin-right: 20px;
        }

        .menu ul li:last-child {
          margin-right: 0;}

.titulo {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.ft01 {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.descricao {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.descricao::first-letter {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
.descricao {
    font-size: 1rem;

  }
}